<!-- About Intro Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 id="about-header">About</h2>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <p>
            Hi, I’m Elizabeth. I provide home financing services. Whether you
            are purchasing, renovating, transferring a mortgage or re-finance an
            existing mortgage, my role is to find the most suitable mortgage
            product for your particular circumstance.
          </p>
          <p>
            I value your time and will commit to working quickly and efficiently
            to meet your needs. I will do my best to provide you with a simple and
            straightforward mortgaging experience. I’m technically savvy and have 
            the right processes in place to protect your personal information.
          </p>
          <p>
            Are you ready to start exploring your mortgaging options? You can
            call me, email me, or send me a message through my contact page.
          </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <div id="profile-picture"></div>
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>
