<!-- About Intro Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 id="about-header">About Us</h2>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="block">
          
          <p>With over 13 years experience, Woodworks Refinishing provides quality hardwood floor refinishing services throughout the Waterloo Region</p>

          <p>After gaining experience with a variety of custom hardwood installers and refinishers across Canada, Ben Locke founded Woodworks Hardwood Refinishing.  Locke’s portfolio includes all scales of hardwood projects, from custom gymnasium flooring to oak inlaid stairs.</p>

          <p>At Woodworks, we use state-of-the-art sanding equipment, tailored to the size of the job. Our process minimizes the amount of dust and waste during the refinishing process.</p>

          <p>Ben Locke personally participates in every job that Woodworks Refinishing completes, assuring the highest standard of quality for hardwood floor refinishing services in the Kitchener-Waterloo Area.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <div id="profile-picture"></div>
          <!--
          <img id="profile-picture" src="img/ben_locke_floor_sanding.jpg" alt="Img">
          -->
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>