<!-- Blog HTML -->
<section id="blog">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1"> 

                <!-- Blog Post -->
                {% for post in site.posts %}
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

                <p class="blog-date">{{ post.date | date: "%B %d, %Y" }}</p>

                {% if post.image %}
                <img class="img-responsive" src="{{ post.image }}" alt="{{ post.title }}">
                {% endif %}

                {{ post.excerpt }}

                <a class="btn btn-inverse" href="{{ post.url }}">
                    Read Full 
                    <i class="fa fa-angle-right" aria-hidden="true"></i>

                </a>
                {% if forloop.last == false %}
                <hr>
                {% endif %}

                {% endfor %}

            </div>
        </div> 
    </div>
</section>