<footer class="footer">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="footer-item pull-left">
        <h4>Logo over here</h4>
          <div class="footer-logo-wrapper">
            <img class="footer-logo" src="img/tmg-logo-powered-by-elizabeth-locke.png" alt="the-mortgage-group-logo">
          </div>
        <p>
          I am part of TMG The Mortgage Group – an award-winning Canadian
          mortgage brokerage with a national team of over 800 qualified and
          accredited mortgage brokers, agents and associates providing
          residential and commercial mortgage services. Since 1990, TMG has
          helped over a quarter million Canadians get the best financing
          solutions and mortgage rates through Canadian mortgage lenders from
          coast to coast.
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="footer-item pull-right">
        <h4>Address over here</h4>
        <p>sup</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">&copy Elizabeth Locke Mortgages</div>
    </div>
  </div>
</footer>
