<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                    <li class="filter" data-filter=".Residential">Residential</li>
                    <li class="filter" data-filter=".Commercial">Commercial</li>
                    <li class="filter" data-filter=".Gymnasiums">Gymnasiums</li>
                </ul>
              </div>
              <div class="portfolio-content">
                <ul id="portfolio-content-active">
                  {% for project in site.data.projects %}
                  <li class="mix {{ project.tags }}">
                    <a>
                      <div class="portfolio-img">
                        <img src="{{ project.image }}" alt="">
                      </div>
                      <div class="title">
                          <h2>{{ project.title }}</h2>
                          <p>{{ project.property }}</p>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>