<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                    <li class="filter" data-filter=".Residential">Residential</li>
                    <li class="filter" data-filter=".Commercial">Commercial</li>
                    <li class="filter" data-filter=".Gymnasiums">Gymnasiums</li>
                </ul>
              </div>
              <div class="portfolio-content">
                <ul id="portfolio-content-active">
                  <li class="mix Residential">
                    <a>
                      <div class="portfolio-img">
                        <img src="img/portfolio/home_05/downstairs_grand_ave.jpg" alt="">
                      </div>
                      <div class="title">
                          <h2> Sand & Finish</h2>
                          <p>Residential House</p>
                      </div>
                    </a>
                  </li>
                  <li class="mix Residential">
                    <a>
                      <div class="portfolio-img">
                        <img src="img/portfolio/home_06/upstairs_hardwood_floor6.jpg" alt="">
                      </div>
                      <div class="title">
                          <h2> Sand, Repair & Finish</h2>
                          <p>Residential House</p>
                      </div>
                    </a>
                  </li>
                  <li class="mix Commercial">
                    <a>
                      <div class="portfolio-img">
                        <img src="img/portfolio/commercial_01/artisan_zone_thumb.jpg" alt="">
                      </div>
                      <div class="title">
                          <h2>Sand & Finish</h2>
                          <p>Artisan Zone Store</p>
                      </div>
                    </a>
                  </li>
                  <li class="mix Residential">
                    <a>
                      <div class="portfolio-img">
                        <img src="img/portfolio/home_01/hardwood_floors_home_1_08.JPG" alt="">
                      </div>
                      <div class="title">
                          <h2>Sand & Finish</h2>
                          <p>Residential Apartment</p>
                      </div>
                    </a>
                  </li>
                  <li class="mix Residential">
                    <a>
                      <div class="portfolio-img">
                        <img src="img/portfolio/home_02/hardwood_floors_home_2_02.JPG" alt="">
                      </div>
                      <div class="title">
                          <h2>Buff & Coat</h2>
                          <p>Residential Apartment</p>
                      </div>
                    </a>
                  </li>
                  <li class="mix Residential">
                    <a>
                      <div class="portfolio-img">
                        <img src="img/portfolio/home_03/hardwood_floors_home_3_05.JPG" alt="">
                      </div>
                      <div class="title">
                          <h2>Sand, Stain & Finish</h2>
                          <p>Residential Apartment</p>
                      </div>
                    </a>
                  </li>
                  <li class="mix Residential">
                    <a>
                      <div class="portfolio-img">
                        <img src="img/portfolio/home_04/hardwood_floors_home_4_03.JPG" alt="">
                      </div>
                      <div class="title">
                          <h2>Sand, Stain & Finish</h2>
                          <p>Residential Apartment</p>
                      </div>
                    </a>
                  </li>
                  <li class="mix Commercial Gymnasiums">
                    <a>
                      <div class="portfolio-img">
                        <img src="img/portfolio/gym_01/gymnasium_01_thumb.JPG" alt="">
                      </div>
                      <div class="title">
                          <h2>Sand, Paint & Finish</h2>
                          <p>KW Billingual Gym</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>