<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>At Woodworks Hardwood Refinishing, we offer several different options for your floor. Deciding which option is the best fit for your hardwood will depend on the severity of your floor’s current condition and the look that you want to achieve.</p>
      </div>
    </div>
    <div class="row">
      {% for service in site.data.services %}
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img src="{{ service.image }}" alt="Img">
          <h4>{{ service.title }}</h4>
          <p>{{ service.description }}</p>
        </div>
      </div>
      {% endfor %}
  </div>
</section>