<!-- Testimonial Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div>
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>We had Ben refinish the floors in our house from top to bottom. Ben's work was incredible -- he worked quickly, made zero mess, paid attention to details and was a pleasure to be around. We love our new floors.</p>
                <div class="user">
                  <p><span>Gina Nenniger</span> Cambridge Homeowner</p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>We had Ben refinish the floors in our house from top to bottom. Ben's work was incredible -- he worked quickly, made zero mess, paid attention to details and was a pleasure to be around. We love our new floors.</p>
                <div class="user">
                  <p><span>Gina Nenniger</span> Cambridge Homeowner</p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>We had Ben refinish the floors in our house from top to bottom. Ben's work was incredible -- he worked quickly, made zero mess, paid attention to details and was a pleasure to be around. We love our new floors.</p>
                <div class="user">
                  <p><span>Gina Nenniger</span> Cambridge Homeowner</p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>We had Ben refinish the floors in our house from top to bottom. Ben's work was incredible -- he worked quickly, made zero mess, paid attention to details and was a pleasure to be around. We love our new floors.</p>
                <div class="user">
                  <p><span>Gina Nenniger</span> Cambridge Homeowner</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>