<!-- Testimonial Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div>
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>We had Ben refinish the floors in our house from top to bottom. Ben's work was incredible -- he worked quickly, made zero mess, paid attention to details and was a pleasure to be around. We love our new floors.</p>
                <div class="user">
                  <p><span>Gina Nenniger</span> Cambridge Homeowner</p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>I was thrilled with everything. I never expected my outdated parquet floors to look so modern. Ben recommended a dark stain, and I am so glad we went with his recommendation.</p>
                <div class="user">
                  <p><span>Joanne Lamb</span> Oakville Homeowner</p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>Our experience with Woodworks Refinishing was extremely positive. Ben and his crew were professional, friendly and kept our home totally dust-free. The attention to detail was exceptional. We will hire him again once we are ready for the upstairs.</p>
                <div class="user">
                  <p><span>Asa Tadeki</span> St.Jacobs Homeowner</p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>We originally had carpet in our hallway and hardwood in just our rooms upstairs. Ben found us hardwood to match, installed it in the hallway, then sanded our entire upstairs and stained it to match. I had no idea that was even possible. My wife and I are so much happier with our home now! </p>
                <div class="user">
                  <p><span>Walter DaSilva</span> Waterloo Homeowner</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>