<!-- Testimonial Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div>
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
              <img
                class="quotation-mark pull-left"
                src="img/quote-start.png"
                alt="Img"
              />
              <img
                class="quotation-mark pull-right"
                src="img/quote-end.png"
                alt="Img"
              />
              <p>
                Elizabeth is highly professional. She has the ability to unpack
                a complex problem, find a solution, and communicate clearly so
                that all parties are well informed.
              </p>
              <div class="user">
                <p><span>James Nenniger</span> Oakville Lawyer</p>
              </div>
            </div>
            <div>
              <img
                class="quotation-mark pull-left"
                src="img/quote-start.png"
                alt="Img"
              />
              <img
                class="quotation-mark pull-right"
                src="img/quote-end.png"
                alt="Img"
              />
              <p>
                Elizabeth is a pleasure to work with. She gave us thorough
                no-nonsense advice. She saved us a lot of pain by ensuring we
                were shopping for a home that we could comfortably afford.
              </p>
              <div class="user">
                <p><span>Laura Austin</span> Waterloo Homeowner</p>
              </div>
            </div>
            <div>
              <img
                class="quotation-mark pull-left"
                src="img/quote-start.png"
                alt="Img"
              />
              <img
                class="quotation-mark pull-right"
                src="img/quote-end.png"
                alt="Img"
              />
              <p>
                Buying a house is the biggest purchase that my parter and I have
                ever made. Getting the mortgage for us was an afterthought --
                that is until Elizabeth helped us understand just how many
                products there are and how important it is to shop around with a
                mortgage agent instead of going straight to the bank. Thanks to
                her savvy advice we got a much better deal than what our bank
                offered us.
              </p>
              <div class="user">
                <p><span>Catherine Nazareth</span> Kitchener Homeowner</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
